
body {
  margin: 10px;
  color: #000000;
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 76%;
}
a:link {
  color: #656
}
a:visited {
  color: #656
}
a:active {
  color: #ccc
}
h1 {
  font-size: 1.2em;
}
h2 {
  background-color: #eaeaea;
  border: solid 1px #777;
  font-size: 1.1em;
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em;
}
h3, h4, h5, h6 {
  font-size: 1em;
}
table {
  width: 100%;
}
p {
  margin: 0 1em 1em 0;
  padding: 0;
}
table {
  font-size: 1em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.calendar .day-today {
  background-color: #ccc;
}
.calendar .day-selected {
  background-color: #bbb;
}
.calendar .header-month {
  background-color: #ddd;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ddd;
}
.calendar .day-link a {
  color: #000;
}
.calendar .row-week {
  color: #aaa;
}
.item-list ul li {
  list-style-image: url(bullet.png);
}
.path, .path a, .path a:visited {
  color: #888;
}
.block {
  margin-bottom: 10px;
  font-size: 0.9em;
}
.block h2.title {
  margin: 0;
}
.block .content {
  border: solid 1px #777;
  border-top: none;
  margin: 0;
  padding: 5px;
}
.message {
  margin-bottom: 1em;
}
.node h2.title {
  background-color: #fff;
  border: solid 1px #999;
  margin-top: 1em;
}
.node .submitted {
  color: #7c7c7c;
  font-size: 0.9em;
  float: left;
  padding: 0.5em 0 0.5em 1em;
}
.node .taxonomy {
  color: #7c7c7c;
  font-size: 0.9em;
  float: right;
}
.node .content {
  clear: both;
  padding-left: 1em;
}
.node .links {
  padding: 1em;
}

